/**
* File: index.css
* Owner: Alex Simangunsong
* Purpose: Stylesheet for Index Page
* Versions
*   User     |       Date       |            Description              |
*   Alex     |    06/09/2016    | Developed                           |
**/


body {
    background-image: url("../images/batik-1.png");
} 

.top-tiles {
    margin-top: 20px;
    margin-bottom: 20px;
}


#voice-input-button:hover {
    border: solid black 1px;
}
