/**
* File: master.css
* Owner: Alex Simangunsong
* Purpose: Master CSS
* Versions
*   User     |       Date       |            Description              |
*   Alex     |    06/09/2016    | Developed                           |
**/


/*a, a:visited, p {*/
    /*color: whitesmoke;*/
/*}*/

a:hover {
    text-decoration: none;
    colour: grey;
}

